/* Force transparent header */
@media screen and (min-width: 990px) {
  .header--middle-left {
    grid-template-columns:auto auto 0fr!important;
    column-gap: 0;
  }
  .header:not(.drawer-menu).page-width {
        padding-left: 0;
        padding-right: 0;
  }
  .list-menu--inline { 
    gap: 56px;
  }
}



