/* Force transparent header */
@media screen and (min-width: 990px) {
  .header--middle-left {
    grid-template-columns:auto auto 0fr!important;
    column-gap: 0;
  }
  .header:not(.drawer-menu).page-width {
        padding-left: 0;
        padding-right: 0;
  }
  .list-menu--inline { 
    gap: 54px;
  }
}


/* Minimal Pixel Perfect Reset */
/* reset.css */
/* Apply only inside sections with .pp */
.pp, 
.pp * {
  line-height: 1;
  box-sizing: border-box;
  letter-spacing: 0;
}
  @media (max-width: 767px) {
    .pp {

  padding-left: 15px!important;
  padding-right: 15px!important;
    }
}
@media screen and (min-width: 990px) {
  .header__menu-item {
    padding: 0!important;
  }
}